<div class="editTabs_File">
  <button *ngFor="let tab of tabs; let i = index" [class.active]="tab.active" (click)="switchTab(i)">
    {{ tab.name }}
    <span class="close-tab" (click)="closeTab(i)">&times;</span>
  </button>
  <!-- <button (click)="addDefaultTab()">+ Add Tab</button> --> 
</div>

<div class="editors">
  <div *ngIf="tabs.length === 0 && filesLength > 0" class="empty-message editor">
    File not selected. <br />
    <div>If not, then create a file.</div>
  </div><div *ngIf=" filesLength == 0" class="empty-message editor">Please Create File or Folder.</div>


  <!-- <div *ngFor="let tab of tabs; let i = index" [hidden]="!tab.active">
    <div [id]="'editor-' + i" class="editor">
    </div> -->
  </div>
</div>